body {
    background-color: #ffffff;
    background: url('assets/images/debut_light.png');
    font-weight: 300;
    font-family: 'Latex';
    text-align: center;
    color:  #585858;
}

@font-face {
    font-family: 'Latex'; 
    src: url('assets/CMU/cmunrm.ttf'); 
}

h2 {
    font-weight: 200;
    font-size: 2em;
}

textarea#playingfield {
    width: 100%;
    font-size: 1.2em;
    margin-right: 30px;
    background-color: #ffffff;
    height: 14em;
    border-radius: 5px;
    font-weight: 200;
    font-family: 'Latex';
}

a {
   color: #1ea1c2;
   text-decoration: none;
}

a:hover {
    color: #68d0dc;
}

.text-wrapper {
    text-align: center;
}

.tekstflyt {
    position: relative;
}
.stats {
    padding-right: 1em;
    line-height: 0px;
    margin-top: 50px;
}

#stars {
    margin-top: 30px;
}

#logo {
    margin-bottom: 10px;
}

#buffers {
    text-align: right;
}
#container {
    margin: 20px auto;
    max-width: 60em;
}
.text-content {
    text-align: left;
    margin-bottom: 10px;
}
#sidebar {
    float: right;
}
#dd-nav {
    display: none;
}
.highlight {
    background-color: #ffeeee;
}
#footer {
    line-height: 4em;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    border-top: 1px solid #D2D2D2;
    min-height: 46px;
}

#forkongithub a {
    background:#1ea1c2;
    color:#fff;
    text-decoration: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    text-align: center;
    font-weight: bold;
    padding:5px 40px;
    font-size:1rem;
    line-height:2rem;
    position:relative;
    transition:0.5s;
}
    
#forkongithub a:hover {
    background:#68d0dc;
    color:#fff;
}

#forkongithub a::before, #forkongithub a::after {
    content:"";
    width:100%;
    display:block;
    position:absolute;
    top:1px;
    left:0;
    height:1px;
    background:#fff;
}

#forkongithub a::after {
    bottom:1px;
    top:auto;
}

@media screen and (min-width:800px){
    #forkongithub{
        position:absolute;
        display:block;
        top:0;
        right:0;
        width:200px;
        overflow:hidden;
        height:200px;
    }
    #forkongithub a {
        width:200px;
        position:absolute;
        top:60px;
        right:-60px;
        transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
        box-shadow:4px 4px 10px rgba(0,0,0,0.8);    
    }
}
