body {
    background-color: #ffffff;
    background: url('assets/images/debut_light.png');
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    text-align: center;
}

h2 {
    font-weight: 200;
    font-size: 2em;
}

p {
    line-height: 0px;

}

textarea#playingfield {
    width: 100%;
    font-size: 1.4em;
    margin-right: 30px;
    background-color: #ffffff;
    height: 14em;
    border-radius: 5px;
    font-weight: 200;
}

.text-wrapper {
    text-align: center;
}

.tekstflyt {
    position: relative;
}
.stats {
    padding-right: 1em;
}
#buffers {
    text-align: right;
}
#container {
    margin: 0px auto;
    max-width: 60em;
}
#sidebar {
    float: right;
}
#dd-nav {
    display: none;
}
.highlight {
    background-color: #ffeeee;
}
