<html>
    <head>
        <link rel="shortcut icon" href="/assets/images/favicon.png?v=2" />
        <link rel="Stylesheet" type="text/css" href="/css/404.css" />
        <title>Tekstflyt 404</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport", content="width=device-width, initial-scale=1" />
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
    </head>
    <body>
    	<h1>404<br></br>Well this is nice, isn't it? But it doesn't seem like what you're looking for exists.</h1>
    	<p>:(</p>
    	<p><a href="/">You should go back.</a></p>
    </body>
</html>