{% if logged_in %}
<h2>Welcome {{ writer }}!</h2> </br>

You can <a href="/draft/new">start a new draft</a>.

Or <a href="/draft">view your drafts</a>.

You can <a href="/logout">logout</a>.
{% else %}
    <p>
    Welcome to Tekstflyt, an open approach to writing on the Internet.
    </p>

    <div class='large-btn-holder'><a href="/signup" class='btn-large btn'>Sign Up</a></div>
    or <a href='/login'>Login</a>

{% endif %}
