{% if logged_in %}
<h2>Welcome {{ writer }}!</h2> </br>

You can <a href="/flow/new">start a new flow</a>.

Or <a href="/flow">view your flows</a>.

You can <a href="/logout">logout</a>.
{% else %}
    <p>
    Welcome to Tekstflyt, the fastest way to flow your thoughts!
    </p>

    <div class='large-btn-holder'><a href="/signup" class='btn-large btn'>Sign Up</a></div>
    or <a href='/login'>Login</a>

{% endif %}
