<header>
    <a href="/"><img src='/assets/images/tekstflyt.png' id='logo'></a>
</header>
{% if logged_in %}
<h2>Welcome {{ writer }}!</h2> </br>

<a href="/flow/new"><div class='btn btn-option'>Start a New Flow</div></a>

<a href="/flow"><div class='btn btn-option'>View Your Flows</div></a>

<a href="/logout"><div class='btn btn-option'>Logout</div></a>
{% else %}
    <p>
    Welcome to Tekstflyt, the way to flow text.
    </p>
    <div class='large-btn-holder'><a href="/signup" class='btn-large btn'>Sign Up</a></div>
    or <a href='/login'>Login</a>

{% endif %}
