<html>
    <head>
        <link rel="shortcut icon" href="/assets/images/favicon.png?v=2" />
        <link rel="Stylesheet" type="text/css" href="/css/style.css" />
        <title>Tekstflyt {{title}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport", content="width=device-width, initial-scale=1" />
    </head>

    <div class='navbar'>
       <div class='brand'><a href='/'>tekstflyt</a></div>
        <div class='navbar-container'>
            <ul class="navbar-nav">
                {% if logged_in %}
                    <li class='nav-item'>Hello {{ writer }}!</li>
                    <li class='nav-item'><a href='/flow/new'>New Flow</a></li>
                    <li class='nav-item'><a href='/flow'>View Flows</a></li>
                    <li class='nav-item'><a href='/highscores'>View Highscores</a></li>
                    <li class='nav-item'><a href='/logout'>Logout</a></li>
                {% else %}
                    <li class='nav-item'><a href='/login'>Login</a></li>
                    <li class='nav-item'><a href='/signup'>Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <body>
        <!-- <span id="forkongithub"><a href="https://github.com/zencephalon/tekstflyt">Fork me on GitHub</a></span> -->
        <div id="content">
            <header>
                <a href="/"><img src='/assets/images/tekstflyt.png' id='logo'></a>
            </header>

            {{content}}

            <footer>
            Made with ♥ in NYC 2013 by <a href="http://zencephalon.com">Matthew Bunday</a> and <a href="http://dariajung.github.io">Daria Jung</a>.
            </footer>
        </div>
    </body>
</html>
