<html>
    <head>
        <link rel="shortcut icon" href="assets/images/favicon.png?v=2" />
        <link rel="Stylesheet" type="text/css" href="css/style.css" />
        <title>Tekstflyt: {{title}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>

    <body>
        <div id="content">
            <header>
                <a href="/"><img src='assets/images/tekstflyt.png' id='logo'></a>
            </header>

            {{content}}

            <footer>
            <hr>
            Made with love in 2013.
            </footer>
        </div>
    </body>
</html>
