<form action="/login" method="post">
    <div class='signup-wrapper'>
        <div>
            <input id="username" type="text" name="username" placeholder="Username"/>
        </div>
        <div>
            <input id="password" type="password" name="password" placeholder="Password"/>
        </div>
        <div class='btn-holder'>
            <input type="reset" class='btn clear' value="Clear" />
            <input type="submit" class='btn' value="Login" />
        </div>
         <div class='error error-login'>Looks like some fields were left empty.</div>
    </div>
</form>

<script src="/js/login.js"></script>
