<form action="/login" method="post">
    <div class='signup-wrapper'>
        <div>
            <input id="username" type="text" name="username" placeholder="Username"/>
        </div>
        <div>
            <input id="password" type="password" name="password" placeholder="Password"/>
        </div>
        <div class='btn-holder'>
            <input type="submit" class='btn' value="Log in" />
            <input type="reset" class='btn' value="Clear" />
        </div>
        <p>
            <a href="/signup">Signup</a>
        </p>
    </div>
</form>
