<form class='form-wordcount' action="/flow/edit" method="get">
    <div class="signup-wrapper">
        <div class='mode'>
            <h1 class='mode'>Word Count Mode</h1>
            <div class='mode-instructions'>
                Type your desired word count. ie: 500
            </div>
            <div class='error-wordcount error'>Please enter wordcount.</div>
            <input id="wordcount" type="text" name="wordcount" placeholder="500"/>
            <label for="puppies">Enable puppies for encouragement?</label>
            <input name="mode" type="hidden" value="wordcount">
            <input class="puppies" type="checkbox" name="puppies">
        </div>
        <div class='btn-holder'>
            <input type="submit" class='btn' value="Start!" />
        </div>
    </div>
</form>
<form class='form-timer' action="/flow/edit" method="get">
    <div class="signup-wrapper">
        <div class='mode'>
            <h1 class='mode'>Timed Mode</h1>
            <div class='mode-instructions'>
                Type your desired time limit in minutes. ie: 5
            </div>
            <div class='error-timer error'>Please enter a time.</div>
            <input id="timer" type="text" name="timer" placeholder="5"/>
            <label for="puppies">Enable puppies for encouragement?</label>
            <input name="mode" type="hidden" value="timetrial">
            <input class="puppies" type="checkbox" name="puppies">
        </div>
        <div class='btn-holder'>
            <input type="submit" class='btn' value="Start!" />
        </div>
    </div>
</form>

<script src="/js/mode.js"></script>

