<p>Enter username and password!</p>
<form action="/signup" method="post">
    <div class='signup-wrapper'>
        <div>
            <input id="username" type="text" name="username" placeholder='Username' />
        </div>
        <div>
            <input id="password" type="password" name="password" placeholder='Password'/>
        </div>
        <div>
            <input id="password-confirm" type="password" name="checkpassword" placeholder='Confirm password' />
        </div>
        <div class='btn-holder'>
            <input type="reset" class='btn clear' value="Clear" />
            <input type="submit" class='btn' value="Sign Up" />
        </div>
        <div class='error error-signup'>Looks like some fields were left empty.</div>
    </div>
</form>

<script src="/js/signup.js"></script>
