<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta charset="utf-8">

<title>Tekstflyt</title>

<script src="/js/dd/mousetrap.min.js"></script>
<!-- include jQuery library -->
<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" href="/css/tf-style.css">
<link rel="shortcut icon" href="/assets/images/favicon.png?v=2" />

</head>
    <!-- <span id="forkongithub"><a href="https://github.com/zencephalon/tekstflyt">Fork me on GitHub</a></span> -->
<body>
    <div id="container">
        <div class="tekstflyt">
            <textarea class="textarea mousetrap" id="playingfield" placeholder="Start typing here..."></textarea>
        </div>
        <div class='encouragement' style='display: none;'></div>
        <div class="stats">
            <h2>
                Words: <b>0</b> | WPM: <b>0</b>
            </h2>
        </div>
        <span id="scoreboard"><h2>Words: <b>0</b> |
                Score: <b>0</b></h2>
        </span>
    </div>
</body>
<script src="/js/dd/caret.js"></script>
<script src="/js/tekstflyt.js"></script>
</html>
