body {
	background: url('/img/500.png') fixed right;
	font-family: 'Old Standard TT', serif;
	font-weight: 300;
	text-align: center;
	text-shadow: 1px 1px 1px #511C4F;
}

h1 {
	margin-top: 5%;
	width: 60%;
	font-size: 60px;
	color: #fff;
	font-weight: 300;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 1px 1px 1px #511C4F;
}

p {
	font-family: 'Old Standard TT', serif;
	font-size: 20px;
	color: #fff;
}

a {	
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #571847;
	text-shadow: 1px 1px 1px #fff;
}