body {
    font-family: "Open Sans"; 
    font-size: 130%; 
    line-height: 130%; 
    color: #585858;
    background: url('/assets/images/debut_light.png');
}

img #logo {
    text-align: center;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Latex'; 
    src: url('/assets/CMU/cmunrm.ttf'); 
}

@font-face {
    font-family: 'typewriter';
    src: url('/assets/CMU/cmuntb.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/OpenSans/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/OpenSans/OpenSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/OpenSans/OpenSans-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/OpenSans/OpenSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

a {
  color: #1ea1c2;
  text-decoration: none;
}

a:hover {
  color: #68d0dc;
}

footer { 
  /*font-size: 0.7em; 
  margin-top: 2em;*/
  line-height: 4em;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
  border-top: 1px solid #D2D2D2;
  min-height: 46px;
}

header { 
  margin-bottom: 1em; 
}

#content { 
    margin: 0 auto;
    /*max-width: 37em;*/ 
    /*background-color: #fff;*/
    padding: .4em;
    text-align: center;
    /*border-color: #68d0dc;*/
    /*border-style: solid;
    border-width: .2em;*/
}

code {
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0px 3px;
    display: inline-block;
    color: #52595d;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

#forkongithub a {
    background:#1ea1c2;
    color:#fff;
    text-decoration: none;
    font-family: "Open Sans";
    text-align: center;
    font-weight: 300;
    padding:5px 40px;
    font-size:1rem;
    line-height:2rem;
    position:relative;
    transition:0.5s;
}
    
#forkongithub a:hover {
    background:#68d0dc;
    color:#fff;
}

#forkongithub a::before, #forkongithub a::after {
    content:"";
    width:100%;
    display:block;
    position:absolute;
    top:1px;
    left:0;
    height:1px;
    background:#fff;
}

#forkongithub a::after {
    bottom:1px;
    top:auto;
}

@media screen and (min-width:800px){
    #forkongithub{
        position:absolute;
        display:block;
        top:0;
        right:0;
        width:200px;
        overflow:hidden;
        height:200px;
    }
    #forkongithub a {
        width:200px;
        position:absolute;
        top:60px;
        right:-60px;
        transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
        box-shadow:4px 4px 10px rgba(0,0,0,0.8);    
    }
}
