body {
    background-color: #ffffff;
    background: url('/assets/images/debut_light.png');
    font-weight: 300;
    font-family: 'Open Sans';
    text-align: center;
    color:  #585858;
}

@font-face {
    font-family: 'Latex'; 
    src: url('/assets/CMU/cmunrm.ttf'); 
}

@font-face {
    font-family: 'typewriter';
    src: url('/assets/CMU/cmuntb.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/OpenSans/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('public/assets/OpenSans/OpenSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('public/assets/OpenSans/OpenSans-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('public/assets/OpenSans/OpenSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

h2 {
    font-weight: 200;
    font-size: 2em;
}

textarea#playingfield {
    width: 100%;
    font-size: 1.2em;
    margin-right: 30px;
    background-color: #ffffff;
    height: 14em;
    border-radius: 5px;
    font-weight: 300;
    font-family: 'Open Sans';
}

a {
   color: #1ea1c2;
   text-decoration: none;
}

a:hover {
    color: #68d0dc;
}

.encouragement {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'typewriter';
    color: #1ea1c2;
    font-size: 1.6em;
}

.text-wrapper {
    text-align: center;
}

.tekstflyt {
    position: relative;
}
.stats {
    line-height: 0px;
}

#stars {
    margin-top: 30px;
}

#logo {
    margin-bottom: 10px;
}

#buffers {
    text-align: right;
}
#container {
    margin: 20px auto;
    max-width: 60em;
}
.text-content {
    text-align: left;
    margin-bottom: 10px;
}
#sidebar {
    float: right;
}
#dd-nav {
    display: none;
}
.highlight {
    background-color: #ffeeee;
}
#footer {
    line-height: 4em;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    border-top: 1px solid #D2D2D2;
    min-height: 46px;
}
